
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.wrapper {
    margin-top: 61px;
}

.header {
    background-color:black;
    color: #fff;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.search__btn {
    border-radius: 0 3px 3px 0;
    color: #999;
    font-size: 24px;
    height: 36px;
    padding: 0;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.search-input {
    border-radius: 3px;
    border: 0;
    box-sizing: border-box;
    color: #333;
    font-size: 12px;
    height: 36px;
    margin-right: -43px;
    padding: 0 16px 0 30px;
    width: 100%;
}
.search {
    background-color: #fff;
    border-radius: 3px;
    left: 300px;
    top: 12px;
    position: absolute;
    width: calc(100% - 680px);
}
/*---- footer ---*/
.footer {
    color: white;
    background-color: #14800e;
    display: block;
    font-size: 22px;
}

.footer-icon {
    font-size: 25px;
    cursor:pointer;
}


.footer-icon img {
    width: 50px;
    margin: 10px 20px;
    cursor: pointer;
    filter: grayscale(100%);
}

.footer-icon img:hover {
    filter: grayscale(0);
}

.btn-submit {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #42fd00, #83fa46);
    padding: 10px;
    cursor: pointer;
    border: none !important;
    margin-top: 20px
}

.btn-submit:hover {
    color: #fff;
    background-image: linear-gradient(to right, #78ff48, #14fd02)
}

.btn-register {
    border-radius: 50px;
    color: #89ff41;
    background-color: #fff;
    padding: 7px 10px;
    cursor: pointer;
    border: 2px solid #68ff5a !important
}
.btn-register:hover {
    color: white;
    background-image: linear-gradient(to right, #95f65c, #0aff03)
}

.cart-login a:hover {
    color: #fff;
    text-decoration: none;
}

.cart:hover, .login:hover {
    background-color: #242424;
    cursor: pointer;
}
